*{
    box-sizing: border-box;
 }
 
/*
 colors:{
    ||   -- Background
    ||   #e6cb04 -- yellow for accents
    ||  #A80056 --  magenta for accents
    ||   #5C0933 --  dark violet for accents
  ||
 }

 */
html{
  font-size: 10px;
}
body{
   
    background-color: #030301;
    margin:0; 
    font-family: 'Montserrat', sans-serif;
    background-image: url(Background.avif);
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    background-position-x: center;
}

nav{
  display: flex;
  justify-content:center;
  padding-top: 1%;
  margin-bottom: 5%;
  
 
  
  
}

#linkedin{
  color: #0077b5	;
  font-size: 10rem;
  float: left;
  text-shadow: 1px 1px 1px #000000;
   
  
}

#linkedin:hover{
  box-shadow: 0.2rem 0.2rem 1rem lightblue;
}
.github-linkedin-ctn a:hover{
  background-color: #e6cb04;
}

#navs{
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-right: 5%;
}


#navs a{
  padding:10px;
  color:white;
  text-decoration: none;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  
  

}

#navs a:hover{
  color: #e6cb04;
  text-shadow: 1px 1px 1px #000000;
  transition: all 400ms ease-in ;
  cursor: pointer;
  
}

#contact-btn{
  
  text-decoration: none;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.88);
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6cb04;
  border-radius: 5rem;
  width: 10rem;
  height: 5rem;
  margin-left: 15%;
}

#contact-btn:hover{
  color: rgba(255, 255, 255, 1) !important;
  text-shadow: 1px 1px 1px #000000;
  transition: 500ms;
  
  
}





#name{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 1px 2px 1px #000000;
  font-size: 3rem;
}
    
#bewerbungsbild{
  margin-left:50%;
  overflow: hidden;
  height: 35rem;
  width: auto;
  padding: 0.5rem;
  
  
  

  
}
  
#aboutme{
  padding-top: 0%;
  display: flex;
  justify-content: center;
  float:left;
  height:38rem;
 

}
h2{
  text-align: center;
  color: #ffffff;
  text-shadow:  1px 1.5px 2px #000000;
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 0.1rem;

}

#aboutme p{
  text-align: center;
  color: white;
  text-shadow:  1px 2px 1px #000000;
  font-size: 2rem;
  z-index: 1;
 

}

h3{
 
  font-size: 4rem;
  color: white;
  text-shadow:  1px 2px 1px #000000;

}

.skills-ctn{
 
  color: white;
  text-align: center;
  height: 25rem;
  
}



.skills-icons {
 max-width: 10rem;
 max-height: 10rem;
 gap:20%;
 text-shadow: 1px 1px 1px #000000;
 display: flex;
 justify-content: center;
 
 
 
}

.logo{
  width: 10rem !important;
}



.skills-ctn{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 5rem;
  height: 15rem;
}

.skills-icons :hover{
box-shadow: 0.2rem 0.2rem 1rem lightblue;
}




#made{
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-top: 2%;
  font-size: 1.5rem;
}

#heart{
  color: red;
}

.arrow a{
  text-decoration: none;
}

#arrow-icon{
  display: flex;
  justify-content: flex-end;
  margin-right:10%;
}
    

#description{
 text-align: center;
 

}

#img-ctn{
 float:right;
 height: 38rem;

 
  
}



#menu-icon{
  font-size: 10rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  display: block;
  float: right;
  z-index: 1050;
  position: fixed;
  right: 0%;
  top: 5%;
  
  
  
}

#menu-icon:hover{
  cursor: pointer;
 
}

#menu-icon:active{
  cursor: pointer;
  color: #e6cb04;
}

.nav-bar-phone{
  background-color: rgba(0, 0, 0, 0.9);
  height: 50rem;
  width: 90%;
  z-index: 100;
  margin:0;
  padding: 0;
  margin-top: 15%;
  overflow: visible;
  flex-wrap: nowrap;
  gap:5px;
  display: none;
  border-radius: 2rem;
  position: fixed;
  
  
  }

  

.nav-bar-phone a{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #ffffff;
  display: flex;
  padding: 1rem;
  z-index: 100;
  padding-top:6%;
  text-decoration: none;
  
 
 
  
}

.nav-bar-phone a:hover{
  color: #e6cb04;
}


.nav-bar-phone a:active{
  color: #e6cb04;
  transform: translateY(0);
}

 a.active {
  color:#e6cb04 ;
}

#github-icon-href {
  color: #444444	;
  font-size: 10rem;
  float: left;
  

}

#github-icon-href:hover{
  box-shadow: 0.2rem 0.2rem 1rem lightblue;
}
.null{
  visibility: hidden;
}

.responsive-design-ctn{

  text-align: center;
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000000;
  margin-bottom: 5%;
  
  
  
}
#responsive-design-img{
  width: 60%;
  height: 50%;
  
}

.projects-ctn{
  height: 40rem;
  display: flex;
  width: 90%;
  margin-left:5%;
  gap: 2%;
}

h1{
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
  
}

.project-ctn{
  border: 1px solid #ffffff;
  background-color: #030301;
  border-radius: 2rem;
 
}

.project-ctn:hover{
  background-color: #0f0f08;
  box-shadow: 1px 1px 1px #000000;
}



 [class*="col-"] {
    padding: 1.5rem;
    

   
    
  }
  
  @media only screen and (min-width: 300px) and (max-width: 480px) {    
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    margin-top: 10%;
    

    
  }



  html{
    font-size: 5.5px;
    margin-right:5%;
    margin-left:5%;
  }


  #responsive-design-img{

    width: 100%;
    height: auto;
  }
 

  h2{
    letter-spacing: normal;
  }

    #bewerbungsbild{
      
      height: 10%;
      width: 70%;
      display: flex;
      justify-content: center;
      
      
    }

    #img-ctn{
      margin-right: 22rem;
      display: flex;
      align-items: center;
      
    }

   

  nav{
    width:100%;
    
  
    }

    #navs{
      display: none;
    }

    #contact-btn{
      display: none;
    }

  #aboutme{
    display: flex;
    justify-content: center;
  }

  #made{
    font-size: 3rem;
  }

  #linkedin{
  margin-top: 10%;
  }

  #github-icon-href{
    margin-top: 10%;
  }

  .projects-ctn{
    flex-wrap: wrap;
    margin-bottom: 120%;
  }
  #certificate{
   display: none;
  }

  .skills-icons{
    margin-bottom: 10% !important;
    max-height: 10rem;
    max-width: 10rem;
    float: left;
  }

  #skillsh3{
    padding-top: 70% !important; 
  }
 
  }
  

  



   /* For tablets: */

@media only screen and (min-width: 481px) and (max-width: 949px) {

  [class*="col-"] {
    width: 100%;
    margin-top: 10%;
    

    
  }

   
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}



    
  html{
    font-size: 7.5px;
    margin-right:5%;
    margin-left:5%;
  }

 
  
  .projects-ctn{
    display: flex;
    flex-direction: column;
    margin-bottom: 120%;
    
    
  }
.project-ctn{
  display: flex;
  width: 100%;
}

.project-ctn h4{
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.project-ctn p{
  font-size: 1.6rem !important;
}
  #navs{
    display: none;
  }

  #linkedin{
  margin-top: 5%;
  }

  #github-icon-href{
    margin-top: 5%;
  }
 
 

 #img-ctn{
  padding-right: 60%;
 }

 #bewerbungsbild{
  height: 30rem;
  width: auto;
  
 }

 .skills-icons h3{
  padding-top: 80%;
 }

 #certificate{
  display: none;
 }

 #contact-btn{
  display: none;
 }

 .responsive-design-ctn h1{
  display: none;
 }

  }

    

  
  
  @media only screen and (min-width: 950px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

      

    #menu-icon{
      display: none;
      
      
    }

    .github-linkedin-ctn{
      /* background-color: rgba(0, 0, 0, 0.1); */
      width: 100%;
    }
    #aboutme{
      padding-left:24%;
    }
  
   

      
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}