*{
    box-sizing: border-box;
 }
 
/*
 colors:{
    ||   0596A8 -- Background
    ||   #e6cb04 -- yellow for accents
    ||  #A80056 --  magenta for accents
    ||   #5C0933 --  dark violet for accents
  ||
 }

 */
html{
  font-size: 10px;
}
body{
   
    background-color: #0596A8;
    margin:0; 
    font-family: 'Montserrat', sans-serif;
}


nav{
  display: flex;
  justify-content: flex-end;
  padding-top: 0.3%;
  
  
}


nav a{
  padding:10px;
  color:white;
  text-decoration: none;
  font-size: 20px;
  background-color: #A80056;
  border-radius: 1.5rem;
  letter-spacing: 0.1rem;
  box-shadow: 1px 1px 1px 1px #000000;
  font-weight: bold;
  

}

nav a:hover{
  color: #e6cb04;
  transition: all 400ms ease-in ;
  box-shadow: 0.2rem 0.2rem 1rem lightblue;
  cursor: pointer;
  
}







#navs{
 margin-right: 5%;
 visibility: hidden;
 
}



#name{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 1px 2px 1px #000000;
  font-size: 3rem;
}
    
#bewerbungsbild{
  border-radius: 50%;
  margin-left:50%;
  border:0.2rem groove #e6cb04;
  overflow: hidden;
  height: 35rem;
  width: auto;
  
  

  
}
  
#aboutme{
  padding-top: 0%;
  display: flex;
  justify-content: center;
  float:left;
  padding-left:17%;
  height:38rem;

}
h2{
  text-align: center;
  color: #ffffff;
  text-shadow:  1px 1.5px 2px #000000;
  font-size: 5rem;
  line-height: 7rem;
  letter-spacing: 2px;

}

#aboutme p{
  text-align: center;
  color: white;
  text-shadow:  1px 2px 1px #000000;
  font-size: 2rem;
  z-index: 1;
 

}

h3{
 
  font-size: 4rem;
  color: white;
  text-shadow:  1px 2px 1px #000000;

}

#skills{
 
  color: white;
  text-align: center;
  
}

.skills-icons {
  margin-top: 1%;
  margin-bottom: 1%;
}

.skills-icons i{
 color: rgba(255, 254, 254, 0.99);
 font-size: 8rem;
 text-shadow: 1px 1px 1px #000000;
 
 
}

.skills-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 5rem;
}

.skills-icons i:hover{
box-shadow: 0.2rem 0.2rem 1rem #e6cb04;
}


#arrows{
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
 
}

.arrow{
  background-color:#A80056;
  width: 250px;
  border-radius: 20rem;
  box-shadow: 1px 1px 1px 1px #000000;
}

.arrow:hover{
  box-shadow: 0.2rem 0.2rem 0.9rem lightblue;
  cursor: pointer;
}

.arrow:active{
  margin-top: 1rem;
  margin-bottom:1px;
  box-shadow: 0px 0px;

}

.arrow i{
  color: rgb(187, 187, 187);
  font-size:5rem;
  display: flex;
  justify-content: flex-start;
  margin-left:2%;
  position: relative;
  text-shadow:  1px 2px 1px #000000;
  
}

.arrow i:hover{
  cursor: pointer;
  transition:  500ms ease-in-out 0.345s;
  transform: translate(10%);
  color: #e6cb04;
  font-size: 5rem;
  cursor: pointer;
 
}

.arrow i :active{
 background-color: #A80056;
 color: #e6cb04;
  
}

#made{
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-top: 2%;
  font-size: 1.5rem;
}

#heart{
  color: red;
}

.arrow a{
  text-decoration: none;
}

#arrow-icon{
  display: flex;
  justify-content: flex-end;
  margin-right:10%;
}
    

#description{
 text-align: center;

}

#img-ctn{
float:right;
 height: 38rem;
}



#menu-icon{
  font-size: 10rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  visibility: visible;
  position: sticky;
  float: right;
  z-index: 1050;
}

#menu-icon:hover{
  cursor: pointer;
 
}

#menu-icon:active{
  cursor: pointer;
  color: #e6cb04;
}

.nav-bar-phone{
  background-color: rgba(0, 0, 0, 0.9);
  height: 50rem;
  width: 90%;
  z-index: 100;
  margin:0;
  padding: 0;
  overflow: visible;
  position: fixed;
  flex-wrap: nowrap;
  gap:5px;
  display: none;
  
  
  
  
}

.nav-bar-phone a{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #ffffff;
  display: flex;
  padding: 1rem;
  z-index: 100;
  padding-top:6%;
  text-decoration: none;
  
}

.nav-bar-phone a:hover{
  color: #e6cb04;
}


.nav-bar-phone a:active{
  color: #e6cb04;
}



 [class*="col-"] {
    padding: 1.5rem;
    

   
    
  }
  
  @media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    margin-top: 10%;
    border: 1px solid red;

    
  }



  html{
    font-size: 5px;
    margin-right:5%;
    margin-left:5%;
  }

  h2{
    letter-spacing: normal;
  }

    #bewerbungsbild{
      right: 50%;
      height: 35rem;
      width: auto;
      
    }

    #img-ctn{
      padding-right: 30%;
      display: flex;
      align-items: center;
      
    }

    #arrows{
      margin-top: 4%;
    }
      
    .arrow{
      width: 20rem;
      height: auto;
    }

  nav{
    width:100%;
    position: sticky;
  
    }

  #aboutme{
    display: flex;
    justify-content: center;
  }

  #made{
    font-size: 3rem;
  }

  .nav-bar-phone{
    visibility: visible;
  }

  
}


  
@media only screen and (min-width: 600px) and (max-width: 750px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    

  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #navs{
      visibility: visible;
    }

    #menu-icon{
      visibility: hidden;
    }
  
    .nav-bar-phone{
      visibility: hidden;
    }

      
}