*{
    box-sizing: border-box;
 }
 
/*
 colors:{
    ||   0596A8 -- Background
    ||   #e6cb04 -- yellow for accents
    ||  #A80056 --  magenta for accents
    ||   #5C0933 --  dark violet for accents
  ||
 }

 */

body{
   
    background-color: #0596A8;
    margin:0; 
    font-family: 'Montserrat', sans-serif;
}


nav{
  display: flex;
  justify-content: flex-end;
  padding-top: 0.3%;
  
}


nav a{
  padding:10px;
  color:white;
  text-decoration: none;
  font-size: 20px;
  background-color: #A80056;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 1px #000000;
  font-weight: bold;
  

}

nav a:hover{
  color: #e6cb04;
  transition: all 400ms ease-in ;
  box-shadow: 2px 2px 10px lightblue;
  cursor: pointer;
  
}





#navs{
 margin-right: 5%;
 
}

#name{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 1px 2px 1px #000000;
  font-size: 35px;
}
    
#bewerbungsbild{
  border-radius: 50%;
  margin-left:50%;
  border:3px solid #e6cb04;
  overflow: hidden;
  height: 350px;
  width: 350px;
  
  

  
}
  
#aboutme{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 18%; 

}
h2{
  text-align: center;
  color: #ffffff;
  text-shadow:  1px 1.5px 2px #000000;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 2px;

}

#aboutme p{
  text-align: center;
  color: white;
  text-shadow:  1px 2px 1px #000000;
  font-size: 25px;
  z-index: 1;
 

}

h3{
  text-align: center;
  font-size: 52px;
  color: white;
  text-shadow:  1px 2px 1px #000000;
}

#skills{
 
  color: white;
 text-align: center;



}

.skills-icons i{
 color: rgba(255, 254, 254, 0.99);
 font-size: 100px;
 
 
}

.skills-icons i:hover{
box-shadow: 2px 2px 15px #e6cb04;
}


#arrows{
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
 
}

.arrow{
  background-color:#A80056;
  width: 250px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #000000;
}

.arrow:hover{
  box-shadow: 2px 2px 10px lightblue;
  cursor: pointer;
}

.arrow:active{
  margin-top: 15px;
  margin-bottom:1px;
  box-shadow: 0px 0px;

}

.arrow i{
  color: rgb(187, 187, 187);
  font-size:58px;
  display: flex;
  justify-content: flex-start;
  margin-left:2%;
  position: relative;
  text-shadow:  1px 2px 1px #000000;
  
}

.arrow i:hover{
  cursor: pointer;
  transition:  500ms ease-in-out 0.345s;
  transform: translate(10%);
  color: #e6cb04;
  font-size: 68px;
  cursor: pointer;
 
}

.arrow i :active{
 background-color: #A80056;
  
}

#made{
  color: white;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  margin-top: 3%;
  font-size: 20px;
}

#heart{
  color: red;
}

.arrow a{
  text-decoration: none;
}

#arrow-icon{
  display: flex;
  justify-content: flex-end;
  margin-right:10%;
}
    

#description{
 text-align: center;

}



 [class*="col-"] {
    padding: 15px;
    border: 1px solid blue;

   
    
  }
  
  @media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    

    
  }
}


  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

  
  }